<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="internal.log"
      internalLogLevel="Warn">

    <!-- Local variables -->
    <variable   name="filename" 
                value="AB15_GUI.log" />
    <variable   name="logfile-level" 
                value="${when:when=equals('${build-configuration}','Release'):inner=Off:else=Info" />
    <variable   name="memory-level" 
                value="${when:when=equals('${build-configuration}','Release'):inner=Info:else=Info" />
    <variable   name="brief-layout" 
                value="[${sequenceid}] ${date:format=HH\:mm\:ss} ${level:upperCase=true} ${message}" />
    <variable   name="verbose-layout" 
                value="[${sequenceid}] ${longdate} ${level:upperCase=true} ${message} (L${callsite-linenumber}\:${callsite:includeSourcePath=true})" />
    <variable   name="exception-verbose-layout"  
                value="${verbose-layout} (${stacktrace:topFrames=10}) ${exception:format=ToString}" />

    <!-- Define synchronous targets -->
    <targets>
        <!-- Log to the list in the memory -->
        <target name="memory" xsi:type="MemoryRecord" layout="${brief-layout}"/>
    </targets>

    <!-- Define asynchronous targets -->
    <targets async="true" queueLimit="200" overflowAction="Grow">
        <!-- Log to a file -->
        <!-- Use different format for exceptions -->
        <target name="logfile" xsi:type="File" fileName="${filename}" 
                layout="${when:when=not length('${exception}')>0:inner=${verbose-layout}:else=${exception-verbose-layout}" />
    </targets>

    <!-- Define rules -->
    <rules>
        <!-- All messages with a minimum log level of {minlevel} or higher are written to the memory -->
        <logger name="*" minlevel="${memory-level}" writeTo="memory" />
        <logger name="*" minlevel="${logfile-level}" writeTo="logfile" />
    </rules>
</nlog>