<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="internal.log"
      internalLogLevel="Trace">

    <!-- Local variables for config readibility -->
    <variable   name="filename" 
                value="AB15_GUI.log" />
    <variable   name="brief-layout" 
                value="[${sequenceid}] ${date:format=HH\:mm\:ss} ${level:upperCase=true} ${message}" />
    <variable   name="verbose-layout" 
                value="[${sequenceid}] ${longdate} ${level:upperCase=true} ${message} (L${callsite-linenumber}\:${callsite:includeSourcePath=true})" />
    <variable   name="exception-verbose-layout"  
                value="${verbose-layout} (${stacktrace:topFrames=10}) ${exception:format=ToString}" />

    <!-- Define synchronous targets -->
    <targets>
        <!-- Log to a memory -->
        <target name="memory" xsi:type="Memory" layout="${brief-layout}"/>
    </targets>

    <!-- Define asynchronous targets -->
    <targets async="true" queueLimit="200" overflowAction="Grow">
        <!-- Log to a file -->
        <!-- Use different format for exceptions -->
        <target name="logfile" xsi:type="File" fileName="${filename}" 
                layout="${when:when=not length('${exception}')>0:inner=${verbose-layout}:else=${exception-verbose-layout}" />
    </targets>

    <!-- Define rules -->
    <rules>
        <!-- All messages with a minimum log level of Info or higher are written to the memory -->
        <logger name="*" minlevel="Info" writeTo="memory">
            <!-- <filters>
                <when condition="equals('${build-configuration}','Release')" action="Ignore" />
            </filters> -->
        </logger>
        <logger name="*" minlevel="Info" writeTo="logfile">
            <!-- <filters>
                <when condition="equals('${build-configuration}','Release')" action="Ignore" />
            </filters> -->
        </logger>
        <!-- <logger name="*" minlevel="Info" writeTo="logfile" /> -->
    </rules>
</nlog>