
# Ignore debug files

# Ignore GUI auxilary files
gui/.vs/

# Ignore VSCode debug/run configurations
.vscode/

# Ignore GUI binary folders
gui/**/[Oo]bj/**
gui/**/[Bb]in/**

# Ignore release GUI version log file
release/gui/*.log

# Ignoring test log files
gui/**/TestResults/*.log

# ... except actual log files
!gui/**/TestResults/*.html
!gui/**/TestResults/*.trx
!gui/**/TestResults/*.xml

# Ignore environment forlder for Aurix
firmware/.metadata/

# Ignore folder with binaries for firmware
firmware/mcu_esw/TriCoreDebug*/

# ignore language.settings due to env-hash regeneration without changing of sources 
# see: https://www.eclipse.org/forums/index.php/t/1074031/
# possible solution: 
#1. add a .gitattributes file to your repository containing
#
#.settings/language.settings.xml filter=eclipse_env_hash
#
#2. add the following to .git/config
#
#[filter "eclipse_env_hash"]
#clean = sed 's/env-hash=\"[-,0-9]*\"/env-hash=\"-000000000000000000\"/g'
#smudge = cat
firmware/mcu_esw/.settings/language.settings.xml


# .. except certain files
#!firmware/mcu_esw/TriCoreDebug\(TASKING\)/*.hex
#!firmware/mcu_esw/TriCoreDebug\(TASKING\)/*.elf
#!firmware/mcu_esw/TriCoreDebug\(TASKING\i)/*.map
/.vs
