
# Ignore debug files

# Ignore GUI auxilary files
gui/.vs/

# Ignore VSCode debug/run configurations
.vscode/

# Ignore GUI binary folders
gui/**/[Oo]bj/**
gui/**/[Bb]in/**

# Ignore release GUI version log file
release/gui/*.log

# Ignoring test log files
gui/**/TestResults/*.log

# ... except actual log files
!gui/**/TestResults/*.html
!gui/**/TestResults/*.trx
!gui/**/TestResults/*.xml

# Ignore environment forlder for Aurix
firmware/.metadata/

# Ignore folder with binaries for firmware
firmware/mcu_esw/TriCoreDebug*/

# .. except certain files
#!firmware/mcu_esw/TriCoreDebug\(TASKING\)/*.hex
#!firmware/mcu_esw/TriCoreDebug\(TASKING\)/*.elf
#!firmware/mcu_esw/TriCoreDebug\(TASKING\i)/*.map